type project
id
    Freya.Types.Http
title
    Freya.Types.Http
description
    Types for working with the HTTP specifications
tags
    functional, web, f#, freya, types, http
version
    3.0.0-b304
owners
    Andrew Cherry, Ryan Riley
authors
    Andrew Cherry, Ryan Riley
copyright
    Copyright Xyncro Ltd 2016
projectUrl
    https://xyncro.tech/freya
licenseUrl
    https://github.com/xyncro/freya-types/blob/master/LICENSE.md
requireLicenseAcceptance
    false