type project
id
    Freya.Types
title
    Freya.Types
description
    Core functions and types for working with the Freya Web type system
tags
    functional, web, f#, freya, types
version
    4.0.0-b001
owners
    Andrew Cherry, Ryan Riley
authors
    Andrew Cherry, Ryan Riley
copyright
    Copyright Xyncro Ltd 2016
projectUrl
    https://xyncro.tech/freya
licenseUrl
    https://github.com/xyncro/freya-types/blob/master/LICENSE.md
requireLicenseAcceptance
    false